language: python
python:
  - "3.8"
install:
  - pip install coveralls
script:
  - python setup.py install
  - coverage run tests/test.py
after_success:
  - coveralls
before_deploy:
  - pip install twine
deploy:
  provider: pypi
  user: "__token__"
  password:
    secure: $PYPI_TOKEN
  on:
    tags: true
    repo: dpmcmlxxvi/pixelscan
